@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-main: 'Noto Serif SC', serif;
}

body {
  font-family: var(--font-main);
  -webkit-tap-highlight-color: transparent;
}

/* Custom Scrollbar for Drawer */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}
